/* Bootstrap css */
/* @import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"; */
/* Select2 css */
@import "https://propeller.in/components/select2/css/select2.min.css";
@import "https://propeller.in/components/select2/css/select2-bootstrap.css";
/* Propeller typography */
@import "https://propeller.in/components/typography/css/typography.css";
/* Propeller text fields */
@import "https://propeller.in/components/textfield/css/textfield.css";
/* Propeller select2 */
@import "https://propeller.in/components/select2/css/pmd-select2.css";
/* Propeller icons */
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "https://opensource.propeller.in/components/icons/css/google-icons.css";
/* Bootstrap datetimepicker */
@import "https://opensource.propeller.in/components/datetimepicker/css/bootstrap-datetimepicker.css";
/* Propeller datetimepicker */
@import "https://opensource.propeller.in/components/datetimepicker/css/pmd-datetimepicker.css";
ul {
  margin-top: 0;
  margin-bottom: 0;
}
.div-100 {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.div-50 {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
#contentCard {
  min-width: 50%;
}
body {
  background: #1e1f29;
  overflow-x: hidden;
  position: relative;
  height: 100%;
}
.register > main,
.registerSuccess > main {
  height: calc(100vh - 53px) !important;
}
.register footer > div > div > div,
.registerSuccess footer > div > div > div {
  margin: 0 auto !important;
}
.register .copyright,
.registerSuccess .copyright {
  margin: 0 auto !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
body.registerSuccess div#contentCard {
  min-height: 300px !important;
}
body.registerSuccess div#contentCard div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
img.logoRegister {
  width: 400px;
}
label {
  margin: 0;
}
div#navbar {
  justify-content: flex-end;
}
svg.svg-inline--fa {
  width: 32px;
  color: #e09900;
  margin-right: 10px;
}
span.nav-link-text {
  color: #fff;
  margin: 0;
}
h6 {
  color: #e09900;
}
div.divCollapse {
  box-sizing: border-box;
  padding-left: 30px;
}
div.divCollapse li {
  color: #fff;
}
div.divCollapse li::marker {
  content: "";
  display: none;
}
div.divCollapse li > a {
  font-size: 14px;
  color: #fff;
}
div.divCollapse svg.svg-inline--fa {
  width: 10px;
  margin-right: 5px;
}
.btnTable {
  margin: 0 auto;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnTable > svg.svg-inline--fa {
  margin: 0;
  color: #fff;
}
td.botonera {
  gap: 3px;
  flex-wrap: wrap;
  display: flex;
}
td.sorting_1 > img {
  max-width: 200px;
  margin: 0 auto;
  display: block;
}
ul.dtr-details {
  padding: 0;
}
ul.dtr-details > li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
span.dtr-title {
  font-weight: 900;
  padding: 10px 0 5px;
}
ul.dtr-details > li:last-child > span.dtr-data {
  flex-wrap: wrap;
  width: 80%;
  gap: 10px;
  display: flex;
}
/* Custom Card Events */
.events .card {
  min-height: 600px;
  height: 600px;
  overflow: hidden;
}
.events .card-body {
  padding: 0;
  overflow: hidden;
}
.imgEvent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  overflow: hidden;
}
.infoEvent {
  display: flex;
  flex-direction: column;
  padding: 0px;
  width: 100%;
  height: 50%;
}
.infoEvent > span {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 15%;
  font-size: 12px;
  border-bottom: 0.5px solid #c1c1c1;
  padding: 0 15px;
  font-weight: 600;
}
.infoEvent > span:first-child {
  width: 100%;
  height: 30%;
  font-size: 20px;
  padding: 15px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-align: center;
  border: none;
}
.infoEvent svg.svg-inline--fa {
  width: inherit;
}
.infoEvent > span.btn.btn-primary {
  margin: 0;
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25%;
  position: relative;
}
.infoEvent > span.btn.btn-primary > svg.svg-inline--fa.fa-ticket {
  color: #fff;
  transform: rotateZ(135deg);
}
.infoEvent > span.btn.btn-primary > img {
  height: 80%;
  width: auto;
}
span.valPass {
  font-size: 12px;
  color: #ff0000;
  display: none;
}
span.valPass.active {
  display: block;
}
span#amount {
  padding: 0.75rem 0.75rem;
  border-radius: 0.5rem 0 0 0.5rem;
  height: 100%;
}
span#amount > svg.svg-inline--fa.fa-dollar-sign {
  width: inherit;
  margin: 0;
}
span.estatus {
  font-size: 14px;
  font-weight: 600;
}
span.estatus > svg {
  width: inherit;
}
span.estatus.active,
span.estatus.courtesy,
span.estatus.rrpp,
span.estatus.active > svg,
span.estatus.courtesy > svg,
span.estatus.rrpp > svg {
  color: #2dce89;
}
span.estatus.soldOut,
span.estatus.close,
span.estatus.soldOut > svg,
span.estatus.close > svg {
  color: #ff0000;
}
.eventSale .eventImg {
  max-width: 400px;
  overflow: hidden;
}
.eventSale .eventImg > .card-body {
  padding: 0;
  width: 100%;
  height: 600px;
}
.eventSale .eventImg > .card-body > .imgEvent {
  height: 400px;
}
.eventSale .infoEvent.unit {
  height: calc(100% - 400px);
}
.eventSale .infoEvent > span:first-child {
  flex-direction: column;
  height: 40%;
}
.eventSale .infoEvent > span:first-child > span {
  font-size: 12px;
}
.infoEvent.unit > span {
  border: none;
  justify-content: center;
  height: 20%;
}

/* dt */
.dt-buttons > .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  box-sizing: border-box;
  padding: 0;
  background: #1e202a;
  border-radius: 100% !important;
  margin: 0 15px;
}
.dt-buttons > .btn > span > svg.svg-inline--fa {
  margin: 0;
  width: 15px;
  height: 15px;
}
div#DataTables_Table_0_length {
  width: 150px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
div#DataTables_Table_0_length > label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
div#DataTables_Table_0_length > label > select {
  margin: 0 5px;
  text-align: center;
}
div#DataTables_Table_0_filter {
  width: 200px;
  height: 45px;
  display: flex;
}
div#DataTables_Table_0_filter > label {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
div#DataTables_Table_0_filter > label > input {
  margin-left: 5px;
}
.active a.page-link {
  color: #fff !important;
}
nav.navPagination .active a.page-link {
  color: #fff !important;
  background-color: var(--bs-pagination-active-bg);
  border-color: var(--bs-pagination-active-bg);
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  border-radius: 100%;
  background: transparent;
  border: none;
}
img.imgCheckOut {
  max-width: 150px;
  height: auto;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.8));
}
img.imgCheckOutTable {
  max-width: 100px;
}
/* section#contact {
  padding-bottom: 0;
} */
.slick-prev:before,
.slick-next:before,
.slick-dots li button:before {
  opacity: 1;
  color: #e09900;
}
.slick-dots {
  bottom: -50px;
}
.slick-slide > a > img {
  width: 130px;
  /* height: 130px; */
  border-radius: 10px;
  box-shadow: 0 10px 10px 0 rgb(0, 0, 0, 0.5);
}
.search.section,
.caroussel.section {
  padding: 50px 50px 0;
}
.search.section form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
section.search.section input,
section.search.section select,
section.search.section .btn {
  border-radius: 0;
  height: 60px;
  margin: 0 !important;
  width: 20%;
  position: relative;
}
.gridEvent {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0 50px;
  justify-content: center;
}
.eventContent {
  width: 330px;
  box-shadow: 0 10px 10px 0 rgb(0 0 0 / 50%);
  border-radius: 1rem;
  cursor: pointer;
}
.eventContent .card {
  box-shadow: none;
}
.slick-initialized .slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
div#bannerPrincipal {
  padding-top: 144px;
}
div#bannerPrincipal.slick-initialized .slick-slide {
  height: inherit;
}
nav.navPagination {
  width: 100%;
}
div#bannerPrincipal .slick-slide > img {
  width: 100%;
  height: 100%;
  border-radius: 0;
  box-shadow: none;
}
body.event h1,
body.event h2 {
  color: var(--bs-white);
  font-weight: 600;
}
.eventContentInfo > div:first-child {
  /* border-right: 1px solid var(--bs-white); */
  padding-bottom: 30px;
}
.eventContentInfo > div:last-child {
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
}
.eventContentInfo > div:last-child svg {
  width: 65px;
  height: 65px;
  margin-right: 15px;
}
.eventContentInfo .card-body {
  padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
}
.eventContentInfo .card-body > span:last-child {
  font-size: 10px;
  text-align: justify;
  display: block;
  margin-top: 2rem;
}
.cantTickets > button {
  margin: 1rem 0 3rem;
}
.description > p {
  line-height: 1.5;
  text-align: justify;
}
.eventContentInfo .card {
  border-radius: 10px;
  overflow: hidden;
}
.eventContentInfo > div:last-child > .card {
  margin-top: 34px;
  padding: 0;
}
.eventContentInfo > div:last-child > .card > .card-body {
  padding: 0;
}
div#evntListProd {
  padding: 15px;
}
div#evntListProd.slick-initialized .slick-slide {
  height: auto;
  margin: 5px;
}
span.titleOtherEvent {
  border-bottom: 1px solid var(--bs-gray-400);
  padding: 1rem 0;
}
span.titleOtherEvent > h3,
span.titleOtherEvent > h1 {
  color: var(--bs-dark);
  margin: 0;
}
div#evntListProd .slick-slide > a > img {
  width: inherit;
  height: inherit;
  box-shadow: inherit;
}
body.login section:nth-child(2) {
  height: calc(100vh - 64px);
}
.login footer {
  width: 100%;
  background: #e09900;
}
body.checkOut section.checkOutIndex {
  padding-top: 144px;
  padding-bottom: 30px;
}
.form-control-lg {
  min-height: 50px;
}
.checkOut .col-md-12.mt-4:nth-child(2) .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 175px;
}
.checkOut .col-md-12.mt-4:nth-child(2) .card-body > svg.svg-inline--fa {
  width: 35px;
  height: 35px;
  margin: 0;
}
li {
  list-style: none;
}
button.goBack {
  margin: 0 10px 0 0;
}
.goBack svg.svg-inline--fa {
  color: #fff;
  margin: 0;
}
.eventSale h1,
.eventSale h2 {
  color: #fff;
}
.eventSale table.table span.soldOut {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #a72727;
  color: #fff;
  border-radius: 10px;
}
.table-responsive tfoot > tr {
  border-color: transparent;
}
/* .itemBanner.slick-slide > a > img {
  width: 1583px !important;
  height: 380px;
} */
span.alertBanner {
  display: block;
  color: #ff0000;
}
span.countTickets h4 {
  font-size: 1rem;
  margin: 0;
  line-height: 1;
}
.table.ticketsSale td {
  font-size: 12px;
}
p.notaRequest {
  font-size: 10px;
}
.requestPrint td.sorting_1 > img {
  max-width: 150px;
}
.onlyResponsive {
  display: none;
}
img.isotipo {
  position: relative;
  width: auto;
  height: 100%;
}
body.login button.enter {
  height: 60px;
  padding: 0;
}
button.btn.btn-lg.btn-primary.btn-lg.w-100.mt-4.mb-0.enter:before {
  display: none;
}
body.login button.enter img {
  height: 80%;
}
button.webPay > img {
  height: 30px;
}
button.webPay {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  float: right;
  position: relative;
  margin-left: calc(100% - 210px);
}
i.eyePass,
i.eyePass1,
i.eyePass2 {
  position: absolute;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  cursor: pointer;
}

form#formLogin {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  bottom: 0;
  right: 0;
}

form#formLogin.active {
  width: inherit;
  height: initial;
  position: relative;
  z-index: 0;
  opacity: 1;
}

form#formFogout {
  width: 0;
  height: 0;
  opacity: 0;
}

form#formFogout.active {
  width: inherit;
  height: inherit;
  opacity: 1;
}

.forgoutPass > span {
  background-image: linear-gradient(310deg, #e09900, #e09900);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  z-index: 1;
  font-weight: 600 !important;
  cursor: pointer;
  color: #e09900 !important;
}

span.arrowResponsive {
  display: none;
}

span.arrowResponsive > svg.svg-inline--fa {
  margin: 0;
}

body.registerSuccess img.logoRegister {
  width: 250px;
}
body.registerSuccess a.btn.btn-primary.btn-lg.btn-block {
  margin: 0;
}

/* icon X */
.close {
  width: 120px;
  height: 120px;
  position: relative;
  background: #ff0000;
  border-radius: 100%;
  margin-bottom: 1rem;
}
.close:before,
.close:after {
  position: absolute;
  left: 54px;
  top: 10px;
  content: " ";
  height: 100px;
  width: 10px;
  background-color: #ffff;
  border-radius: 5px;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.instFloat {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  width: 100px;
  height: 100px;
  right: 15px;
  bottom: 15px;
}
.instFloat img {
  width: 80%;
  filter: drop-shadow(0px 0px 3px #1e1f29);
  -webkit-filter: drop-shadow(0px 0px 3px #1e1f29);
}

/* Responsive */
@media only screen and (max-width: 1480px) {
  span.arrowResponsive {
    display: flex;
    justify-content: flex-end;
  }
}
@media only screen and (max-width: 1024px) {
  body.checkOut .card-body {
    overflow: auto hidden;
  }
  .navigation {
    background-color: rgb(224, 153, 0, 0.62);
  }
  .navigation .primary-nav {
    padding: 0;
  }
}
@media only screen and (max-width: 500px) {
  div#reader {
    width: 100% !important;
    height: auto !important;
  }
  div#reader video {
    width: 100% !important;
  }
  a#html5-qrcode-anchor-scan-type-change {
    display: none !important;
  }
  .eventResponsive {
    display: block;
    width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .eventContentInfo > div:last-child {
    display: none;
  }
  img.isotipo {
    height: 65% !important;
  }
  .onlyResponsive {
    display: block !important;
  }
  form.cantTickets tr > td:nth-child(2),
  form.cantTickets tr > th:nth-child(2) {
    display: none;
  }
  section.eventContentInfo {
    padding: 0;
  }
  section.eventContentInfo h1,
  section.eventContentInfo h2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  section.eventContentInfo > div:nth-child(2) > span {
    justify-content: center !important;
    align-items: center;
  }
  .eventContentInfo > div:first-child > .card {
    margin-top: 1rem !important;
  }
  body.login nav.navigation {
    display: none;
  }
  div#bannerPrincipal {
    padding-top: 100px;
  }
  .slick-initialized .slick-slide {
    height: 150px;
  }
  section#eventGrid > .container-fluid {
    padding: 0 5px;
  }
  section#eventGrid {
    padding: 10px 0 0;
  }
  .gridEvent {
    gap: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    flex-wrap: inherit;
    flex-direction: column;
  }
  .eventContent {
    width: 100%;
    margin-bottom: 1em;
  }
  .events .card {
    min-height: 230px;
    height: 230px;
  }
  .events .card-body {
    display: flex;
  }
  .events .card-body > div {
    height: 100%;
  }
  .imgEvent {
    width: 40%;
  }
  .infoEvent {
    width: 60%;
  }
  section.search.section select {
    display: none;
  }
  .search.section,
  .caroussel.section {
    padding: 10px 10px 0;
  }
  input#key {
    width: 70%;
  }
  section.search.section .btn {
    width: 30%;
  }
  #map-overlay {
    text-align: center;
    flex-direction: column;
  }
  body.checkOut .card-body {
    padding: 1rem;
    box-sizing: border-box;
    margin: 0;
    overflow: hidden;
  }
  body.checkOut .card-body > h4,
  body.checkOut .card-body > form,
  body.checkOut .card-body > form > div {
    padding: 0;
  }
  .table.checkout tr > th,
  .table.checkout tr > td {
    font-size: 10px;
    text-align: center;
  }
  table.checkout > thead > tr > th:first-child,
  table.checkout > tbody > tr > td:first-child,
  table.checkout > thead > tr > th:last-child,
  table.checkout > tbody > tr > td:last-child,
  table.checkout > thead > tr > th:nth-child(2),
  table.checkout > tbody > tr > td:nth-child(2),
  table.checkout > tfoot > tr > td:first-child,
  table.checkout > tfoot > tr > td:nth-child(2),
  table.checkout > tfoot > tr > td:nth-child(3) {
    display: none;
  }
  .checkOut .container-fluid {
    padding: 1rem;
  }
  .onSite.checkOut .container-fluid > div > div:nth-child(3) .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  tbody > tr > td > span.d-block {
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-transform: uppercase;
    font-size: 10px;
  }
  table tr th:first-child,
  table tr td:first-child {
    display: grid;
  }
}
